body{
    width:100%;
    margin: 0px;
}
h1{

}

h2{

}

h3{

}

a{
    color:white;
    text-decoration: none;
    
}

/* mouse over link */
a:hover {
    color: black;
  }

li{
    float: right;
    padding: 0% 1%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    color: white;


}



ul{
    list-style-type: none;
}


.navbar{
    list-style-type: none;
    padding: 3%;
    position: absolute;
    top: 0%;
    left: 20%;
    transform: translate(-10%, -10%);
    width:80%;
}



.nav-links{

}

.section-titles{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    color: red;
    background-color: none;


}

.name-large{
    font-family: 'Work Sans', sans-serif;
    font-size:15em;

}

.name-small{
    font-family: 'Work Sans', sans-serif;
    font-size:15em;

}

.name-over-img{
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-10%, -10%);
    font-family: 'Roboto', sans-serif;
    font-size:7em;
    color: white;

}

.image-container{
    width:100%;
    height:100%;
}